.loginForm-wrapper {
  padding: 40px;
  position: relative;
  top: 100px;
}

.loginForm-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(top, #555e88 10%, #404456 90%);
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}