.login-form-button {
  width: 100%;
  height: 50px;
}

.loginForm-input {
  height: 50px;
}

.loginFrom-text-createAccount {
  font-size: 14px;
  color: white;
}

.loginFrom-createAccount-wrapper {
  margin-top: 10px;
  text-align: center;
}